<html>
<head>
<title>Code Club</title>
</head>

<body>
<h2>Hello World!</h2>
<p>Welcome to Code Club.<br>
  Est. 2017 in Berkeley, CA</p>
</body>
<p>For now, please keep up to date with the latest CodeClub news by visiting our <a href="https://www.meetup.com/codeclub/" target="_blank">Meetup page</a></p>
</html>
