body {
  background-color: #2e2e2e;
}
.navbar-border {
  border: gray 1.5px solid; border-bottom: 1px; border-radius: 4px;
}
.div-body {
  border: gray 1.5px solid; border-radius: 4px; border-top: 1px; height: 100vh; background-color: white; padding: 25px;
}
.div-spacer {
  height: 1.5px; background-color: #2e2e2e;
}
.div-footer {
  height: 40vh;
}
.container {
  background-color: #2e2e2e; width: 75vw;
}
